* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveNeu;
    font-weight: 300;
    font-size: 16px;
}

html, body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

.nav-main {
    height: 70px;
    padding: 18px 60px;
    display: flex;
    align-items: center;
}

.nav-main li:hover {
    color: rgba(31, 118, 255, 1);
    cursor: pointer
}

.nav-right-wrapper span {
    margin-left: 5px;
}

.separator {
    padding: 0;
    margin: 0;
}

.separator hr {
    border: .5px solid rgba(0, 0, 0, .05);
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.nav-right-wrapper button {
    border-radius: 38px;
    transition: color 0.4s ease 0s;
    color: #116DFF;
    border: 1px solid #116DFF;
    padding: 6px 40px;
    background-color: white;
    margin-left: 30px;
    transition: 0.4s ease;
}

.nav-right-wrapper button:hover {
    background-color: #116DFF;
    color: white;
}

.nav-right-wrapper a {
    text-decoration: none;
    color: Black;
}

.nav-main ul {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0 40px;
    flex: 1;
}

.nav-main ul li {
    display: inline;
    align-self: center;
    padding: 0 20px;
    transition: .4s ease
}

#nav-logo-wix {
    height: 100%;
}

.nav-right-wrapper {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

main>section {
    display: flex;
    width: 100%;
    color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main>section>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>section>div * {
    width: 100%;
}

.section-1 {
    border: 4px solid black;
    padding: 50px 0;
}

.section-1-center {
    width: 100%;
    text-align: center;
    max-width: 1300px;
}

.section-1-center h1 {
    font-size: 5.5rem;
    font-family: HelveNeu;
    font-weight: 800;
}

.section-1-center button {
    border-radius: 38px;
    transition: color 0.4s ease 0s;
    border: 1px solid #116DFF;
    padding: 10px 40px;
    margin: 30px 0;
    background-color: #116DFF;
    color: white;
    margin-left: 30px;
    transition: 0.4s ease;
    white-space: nowrap;
    text-align: center;
    max-width: min-content;
    font-size: 24px;
    font-weight: 600;
}

.section-1-center button:hover {
    opacity: .9;
}

.section-1-center * {
    width: 100%;
}

.section-1-image-wrapper {
    display: flex;
    border: 3px solid violet;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
}

.section-1 img {
    max-width: 100%;
    height: auto;
}

#section-1-img-1 {
    max-width: 60%
}

.section-1, .section-4, .section-5, .section-8, .section-10, .section-11, .section-12, .section-13 {
    color: black;
}

.section-2 {
    background-color: blue;
    height: 680px;
    font-size: 24px;
}

.section-2>div {
    align-items: left;
}

.section-3 {
    height: 1220px;
    background-color: green;
}

.section-4 {
    height: 900px;
}

.section-5 {
    height: 700px;
}

.section-6 {
    padding: 40px;
}

.section-6 img {
    max-width: calc(100% - 40px);
}

.section-8 {
    height: 1050px;
}

.section-9 {
    background-color: black;
}

.section-8-left {
    height: 100%;
    background-image: url('../images/section-8-image-01.jpg');
    background-size: auto;
    background-position: center;
    background-size: cover;
}

.section-3>div {
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: center;
}

.section-3-left-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    flex: 1;
}

.section-3-left-wrapper div {
    padding: 10px;
    width: 50%;
}

section hr {
    background-color: white;
    height: 2px;
}

.section-3-right img {
    width: 80%;
    height: auto;
}

.section-3-right {
    height: 100%;
    flex: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(82, 82, 82, 1) 50%);
}

main>section>.section-4-left {
    border: 2px solid coral;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5% 10%;
}

.section-4-left img {
    width: calc(100% - 20%);
    height: auto
}

.section-9 {
    height: 500px;
}

.section-9-left {
    background-image: url();
}

.section-11-center {
    display: flex;
    text-align: center;
    flex-flow: column;
    border: 2px solid blue;
}

.section-11-template-wrapper {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid red;
}

.section-11-template {
    width: 33%;
    text-align: center;
}

.section-12-center ol li {
    display: flex;
    border-top: 1px solid black;
}

.section-13-center {
    width: 100%;
    border-top: 1px solid coral;
    border-bottom: 1px solid coral;
    padding: 60px 0;
    text-align: center;
}

footer {
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
}

.footer-col:not(:last-child) {
    border: 1px solid red;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.footer-col:last-child {
    border: 1px solid blue;
    width: 30%;
}

footer ul {
    list-style: none;
}