.section-1 {
    border: 4px solid black;
    padding: 50px 0;
}

.section-1-center {
    width: 100%;
    text-align: center;
    max-width: 1300px;
}

.section-1-center h1 {
    font-size: 5.5rem;
    font-family: HelveNeu;
    font-weight: 800;
}

.section-1-center button {
    border-radius: 38px;
    border: 1px solid #116DFF;
    padding: 10px 40px;
    margin: 30px 0;
    background-color: #116DFF;
    color: white;
    margin-left: 30px;
    transition: 0.4s ease;
    white-space: nowrap;
    text-align: center;
    max-width: min-content;
    font-size: 24px;
    font-weight: 600;
}

.section-1-center button:hover {
    opacity: .9;
}

.section-1-center * {
    width: 100%;
}

.section-1-image-wrapper {
    display: flex;
    border: 3px solid violet;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
}

.section-1 img {
    max-width: 100%;
    height: auto;
}

#section-1-img-1 {
    max-width: 60%
}

.section-1, .section-4, .section-5, .section-8, .section-10, .section-11, .section-12, .section-13 {
    color: black;
}

.section-2 {
    background-color: #14348e;
    height: 600px;
}

.section-2>div {
    align-items: left;
}

.section-2-left, .section-4-left {
    padding: 2rem;
}

.section-2-left h1 {
    text-align: center;
}

.section-2-right {
    margin-left: 50px;
}

.section-2-right p {
    font-size: 1.2rem;
    font-weight: 300;
}

.section-3 {
    height: 1100px;
    background-color: #035946;
}

.section-4 {
    height: 900px;
}

section hr {
    background-color: white;
    height: 1px;
}

.section-6 {
    padding-bottom: 200px;
}

.section-6>div {
    max-height: min-content;
}

.section-6 img {
    width: 100%;
    height: auto;
}

.section-8 {
    height: 1050px;
}

.section-9 {
    background-color: black;
}

.section-8-left {
    height: 100%;
    background-image: url('../images/section-8-image-01.jpg');
    background-size: auto;
    background-position: center;
    background-size: cover;
}

.section-3>div {
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: center;
}

.section-3-left {
    padding: 150px;
}

.section-3-left-wrapper div h5, .section-3-left div h5 b {
    font-weight: 600;
    font-size: 1.5rem;
}

.section-3-left-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0
}

.section-3-left-wrapper div {
    padding: 10px;
    width: 50%;
    height: min-content;
}

.section-3-right img {
    width: 50%;
    height: auto;
}

.section-3-right {
    height: 100%;
    flex: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #f5f5f5 50%, #eeeeee 50%);
}

.section-4 * {
    color: black!important;
}

.section-4-left {
    display: flex;
    height: 100%;
}

.section-4-left img {
    width: auto;
    height: 100%
}

.section-5>div {
    border: 3px solid orange;
    padding: 0 60px;
    padding-bottom: 60px
}

.section-4>div {
    padding: 140px 60px;
}

.section-9>div {
    padding: 10rem 60px 0px
}

.section-9>div .wrapper {
    justify-content: flex-start;
}

.section-9 a, .section-9 a * {
    color: white;
}

.section-6>div, .section-8>div {
    padding: 0 60px;
}

.section-8-right {
    border: 2px solid coral;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    border: 3px solid blue;
    flex-direction: column;
    align-items: flex-end;
    max-width: 480px;
    flex: 1;
    justify-content: center;
}

.w-left {
    align-items: flex-end;
}

.w-right {
    align-items: flex-start;
}

.section-9 {
    height: 800px;
}

.section-9-left {
    background-image: url();
}

.section-10 {
    background-color: #f4f4f4;
}

.section-10 h1 {
    margin-bottom: .5rem
}

.section-10 h5, .section-10 ol {
    margin-bottom: 3rem
}

.section-10 ol {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-self: flex-start;
}

.section-10 a, .section-10 a * {
    transition: 0.4s ease;
}

.section-10 a:hover, .section-10 a *:hover {
    color: #116DFF;
}

.section-10 ol li {
    padding: .4rem;
    font-weight: bold;
}

.section-10-center {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    padding-left: 300px;
}

.wrapper-horizontal {
    margin-top: 30px;
    display: flex;
    border: 1px solid red;
    justify-content: flex-start;
}

.wrapper-horizontal>* {
    bordeR: 2px solid green;
    width: min-content;
    white-space: nowrap;
    margin: 0;
}

.wrapper-horizontal>*:not(:first-child) {
    margin-left: 40px;
}

.section-11 {
    padding: 6rem 0;
}

.section-11-template h6 {
    font-weight: 600;
    margin-bottom: 0
}

.section-11 h1 {
    margin-bottom: 1.5rem;
}

.section-11 h5 {
    margin-bottom: 3rem;
}

.section-11-center {
    max-width: 1300px;
    display: flex;
    text-align: center;
    flex-flow: column;
    flex: 1
}

.section-11-template-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.section-11-template {
    width: 33%;
    text-align: center;
}

.section-12 {
    border: 5px solid violet;
    display: flex;
    flex-direction: column;
}

.section-12 ol {
    border: 10px solid pink;
    list-style-type: decimal;
}

.section-12-center {
    border: 3px solid lightblue;
    max-width: 100%;
}

.column {
    display: flex;
    /*border: 2px solid green;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    padding: 5rem 0;
    flex-direction: row;
}

.row b {
    font-weight: 600;
}

.row * {
    display: flex;
    flex: 1;
}

.row>hr {
    border: 4px solid blue!important;
}

.section-13-center {
    width: 100%;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 50px 0;
    text-align: center;
}